<mat-card>
    <mat-card-title>
        User information goes here.
    </mat-card-title>
    <mat-card-subtitle>
        Date and time posted goes here.
    </mat-card-subtitle>
    <mat-card-content>
        Duis iaculis elit at elementum ultricies. Sed sapien risus, tempor eget lectus eleifend, congue gravida odio. Sed quis diam cursus, fringilla dolor ut, cursus sem. Nulla sed vulputate nibh. Quisque ut tellus non augue congue ultrices sed accumsan neque. Quisque dignissim hendrerit commodo. Sed arcu urna, auctor sed lorem sit amet, auctor aliquam nisi. Proin sed ligula lacinia, gravida lacus eget, porttitor eros. Duis bibendum odio nibh, non maximus velit efficitur et. Cras orci eros, interdum id nulla id, auctor auctor mauris. Nullam ac est eleifend, vulputate ipsum eu, finibus augue. Quisque dignissim venenatis purus, quis mollis sapien efficitur ut. Nunc vehicula metus faucibus, semper lacus eget, condimentum dui. Nullam non imperdiet purus.
    </mat-card-content>
</mat-card>